
#main {
    text-align: center;
    background-color: darkgrey;
}

#title {
    text-align: center;
    font-size: 20px;
    color: black;
}

#title hr {
    width: 70%;

}

#image {
    display: block;
    border: 2px solid black;
    margin: 0 auto; 
    max-width: 100%;
    height: auto;
}

#tribute-info {
    text-align: left;
    padding: 5px 0;
    margin: 15px auto;
    border: 3px solid black;
    background-color: rgb(129, 129, 129);
}

#tribute-info ul {
    list-style: square;
}

#sources {
    display: block;
    text-align: left;
    width: 75%;
    margin: 0 auto;
}

#sources a {
    text-align: left;
    padding: 3px 0;
}
